ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li a{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
a.sign-in {
    color: white;
    background-color: blue;
    border-radius: 5px;
    
}
ul#horizontal-list li{
    display: inline;
}






html{
    background-color: purple;
}
